@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    --accent: #1fbf6a;
    --accent-dark: #159a53;
    --text-white: #fff;
    --text-black: #000;
    --text-accent: #1fbf6a;
    --text-accent-dark: #159a53;
    --muted: #6b7280;
    --bg-white: #fff;
  }

  html {
    scroll-behavior: smooth;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .container-custom {
    @apply max-w-[90vw] mx-auto sm:px-2 lg:px-2;
  }
}
/* Container utility */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* Custom scrollbar for tabs */
::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
